.content{
    display: flex;
}

.content-box h1 {
    padding-top: 1em;
}

@media (max-width: 501px){
    .content{
        flex-direction: column;
    }
    .content img{
        width: fit-content;
    }
}