.operator-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.operators, .speelvelden {
    background: rgba(0, 0, 0, 0.08);
    padding: 0 6% 1em 6%;
    margin-bottom: 1em;
    border-radius: 5px;
}


.speelvelden img {
    width: 100%;
}

.speelveld-header {
    position: relative;
}
.speelveld-header h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Move item up and right 50% to itself */
    z-index: 20;
    margin: 0;
    font-size: xx-large;
    color: white;
}

@media (max-width: 500px) {
    .operator-header img {
        width: 3em;
        height: auto;
    }
}

@media (min-width: 501px) {
    .operator-header {
        flex-direction: column;
        align-items: baseline;
    }
    .operator-header img {
        margin-right: 1em;
        height: 200px;
    }
}