.div1{
    border-style: solid;
    padding: 5px;
}
.div2{
    border-style: solid;
    margin: 5px;
}
.p1{
    border-style: solid;
    padding: 5px;
}
.p2{
    border-style: solid;
    margin: 5px;
}
img{
    border-style: solid;
}
.photo{
    border-style: solid;
}