/* Nav styling */
nav {
    background-color: #016b6b;
    position: absolute;
    left: 0;
    width: 20vw;
    height: calc(100vh - 4em);
    margin-left: -20vw;
    transition: margin 1s;
    height: -webkit-fill-available;
}
nav a, header a {
    text-decoration: unset;
    color: unset;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
nav ul li a{
    padding: 5vh 0;
    width: 20vw;
    text-align: center;
    color: white;
}
@media only screen and (max-width: 500px) {
    nav ul li a{
        width: 100vw;
    }
    nav {
        background-color: #016b6b;
        width: 100vw;
        margin-left: -100vw;
    }
  }
nav a {
    display: block;
}
header label:hover, header a:hover, nav li:hover {
    background:rgba(0,0,0,0.2);
    transition: background .2s;
}
#nav-check {
    display: none;
}

#nav-check:checked ~ nav {
    margin-left: 0;
}
/* Header styling */
header {
    background-color: #1eacac;
    display: flex;
    align-items: center;
    height: 4em;
    color: white;
}
header h1 {
    font-size: 1.2em;
}
header label i {
    padding: 100% 0;
}
header > * {
    padding: 0 10px;
    display: flex;
    align-items: center;
    cursor: url('../images/mooie-cursor.cur'), pointer;
    height: inherit;
}
#website-content {
    transition: margin-left 1s;
}
#nav-check:checked ~ #website-content {
    margin-left: 20vw;
}