.loadout h1:first-of-type{
    padding-top: 1em;
}
#website-content h2{
    padding-top:  0px;
    margin-top: 0px;
}
.guns-gadget{
    display: flex;
}
@media only screen and (min-width: 500px){
    .keuze{
        width: 50%;
    }
    img {
        max-width: -webkit-fill-available;
        height: 50%;
    }
}
@media only screen and (max-width: 500px){
    .guns-gadget{
       flex-direction: column;
    }
    body{
        width: 100%;
    }
    img {
        max-width: 100%;
    }
}